name: Deploy MkDocs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: write-all

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@main

      - name: Setup Python
        uses: actions/setup-python@main
        with:
          python-version: '3.x'

      - name: Update dir
        run: python ./update_dir.py

      - name: Deploy docs to GitHub Pages
        uses: H-Sofie/mkdocs-deploy-with-material-theme@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
